@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato';
    font-weight: bold;
}

body {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: 'Lato';
}

html {
    height: 100%;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

h1 {
    color: white;
}

label {
    color: white;
}

input {
    width: 120px;
    height: 24px;
    border-radius: 50px;
    text-align: center;
    border: none;
}

.checkbox{
    width: 45px;
    height: 15px;
}

.botoes {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

button {
    display: flex;
    align-items: center;
    border-radius: 50px;
    width: 150px;
    height: 40px;
    justify-content: space-around;
    border: none;
}

li {
    color: white;
    list-style-type: decimal;
}